.project-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
    margin-bottom: 4rem;
}
.project-header {
    display: flex;
    justify-content: space-between;
}

.project-title {
    margin-top: 1rem;
}

@media (max-width: 576px) {
    .project-card {
        grid-template-columns: 1fr;
        column-gap: 0;
        margin-bottom: 2rem;
    }

    .project-summary {
        margin-bottom: 1.5rem;
    }
}