.hyun-container {
    text-align: center;
}

.hyun-heading {
    margin-top: 0;
    margin-bottom: 4rem;
}

.hyun-photo {
    border-radius: 0.3rem;
    margin: 1rem auto;
}

.hyun-bio {
    max-width: 900px;
    text-align: justify;
    text-justify: inter-word;
    margin: 1rem auto;
}