/* .hyun-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
} */

.hyun-photo {
    border-radius: 0.3rem;
    margin-top: 0.5rem;
}

.hyun-heading {
    margin-top: 0;
    margin-bottom: 1rem;
}

.hyun-bio {
    width: 100%;
    margin: 0;
}