html {
    background-color: #f5f5f5;
    box-sizing: border-box;
    overflow-y: overlay;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* body {
    font-family: 'DM Sans';
    font-size: 16px;
    color: #444;
    margin: 2rem;
} */

