.page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2rem 2rem 1rem 2rem;
}

.content-container {
    width: fit-content;
    max-width: 1200px;
    margin: 0 auto;
    flex: 1
}

.navbar, .footer {
    width: 100%;
}

@media (max-width: 575px) {
    .page-container {
        padding: 1rem 1rem 0.8rem 1rem;
    }
}