.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10%;
    max-width: 900px;
}

.contact-heading {
    text-align: center;
    margin-bottom: 4rem;
}

.contact-details-container, .contact-form-container {
    width: 100%;
    margin-block-start: 0;
}

@media (max-width: 576px) {
    .contact-container {
        grid-template-columns: 1fr;
        column-gap: 0;
    }

    .contact-heading {
        margin-bottom: 2rem;
    }

    .contact-details-container {
        margin-top: 2rem;
    }
}