.navbar, .footer {
    width: 100%;
    /* position: fixed; */
    /* margin: 0 auto; */
}

.navbar {
    margin-bottom: 4rem;
}
/* 
.nav-link {
    font-weight: 500;
} */

/* .footer {
    bottom: 0;
} */